{% extends 'base.html.twig' %}

{% block title %}New Event{% endblock %}

{% block body %}

<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    <li class="breadcrumb-item"><a href="/">Home</a></li>
    <li class="breadcrumb-item"><a href="{{ path('event_index') }}">Event</a></li>
    <li class="breadcrumb-item active" aria-current="page">Create Event</li>
  </ol>
</nav>
    <h1>Create New Event</h1>

    {{ include('event/_form.html.twig') }}

    
{% endblock %}
